S3method(as.description,character)
S3method(as.description,connection)
S3method(as.description,data.frame)
S3method(as.description,list)
S3method(as.sources,source)
S3method(as.sources,sources)
S3method(c,source)
S3method(c,sources)
S3method(has_package,cran)
S3method(has_package,github)
S3method(has_package,installed)
S3method(has_package,sources)
S3method(has_package,test)
S3method(install,base)
S3method(install,description)
S3method(install,github)
S3method(install,installed)
S3method(install,source)
S3method(install,test)
S3method(package_info,cran)
S3method(package_info,github)
S3method(package_info,installed)
S3method(package_info,sources)
S3method(package_info,test)
S3method(package_url,cran)
S3method(package_url,github)
S3method(package_url,installed)
S3method(package_url,test)
S3method(print,cran)
S3method(print,description)
S3method(print,github)
S3method(print,installed)
S3method(print,test)
export(as.description)
export(base)
export(cran)
export(default_sources)
export(description)
export(find_dependencies)
export(github)
export(has_package)
export(install)
export(installed)
export(is.description)
export(is.source)
export(offline_packages)
export(package_info)
export(package_url)
export(parse_deps)
export(parse_spec)
export(source)
export(sources)
export(test_source)
importFrom(digest,digest)
